<p>
  networkmetrics works!
</p>

<ul id="clothing-nav" class="nav nav-tabs" role="tablist">
	
<li class="nav-item">
<a class="nav-link active" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Firewall</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#hats" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats">Load Balancer</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="#hats" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats">Switches</a>
</li>


</ul>

<!-- Content Panel -->
<div id="clothing-nav-content" class="tab-content">
              
              <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
             
                <div class="row">
                  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                            cardTitle="networkmetrics.cpu" baCardClass="traffic-panel medium-card">
                 

                  </ba-card>
                
                  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                           cardTitle="networkmetrics.memory" baCardClass="medium-card">
                  </ba-card>
                
                  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                          cardTitle="networkmetrics.network_bandwidth" baCardClass="medium-card">
                  </ba-card>
                
                  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                        cardTitle="networkmetrics.active_connections" baCardClass="medium-card">
                  </ba-card>
             
                </div>

              </div>
              
              <div role="tabpanel" class="tab-pane fade" id="hats" aria-labelledby="hats-tab">
                <div class="row">
                  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                            cardTitle="networkmetrics.cpu" baCardClass="traffic-panel medium-card">
                  </ba-card>
               
                  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                        cardTitle="networkmetrics.active_connections" baCardClass="medium-card">
                  </ba-card>
             
                </div>             
              </div>
              
              <div role="tabpanel" class="tab-pane fade" id="dropdown-shoes" aria-labelledby="dropdown-shoes-tab">
                <div class="row">
                  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                            cardTitle="networkmetrics.cpu" baCardClass="traffic-panel medium-card">
                  </ba-card>
               
                  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
                        cardTitle="networkmetrics.memory" baCardClass="medium-card">
                  </ba-card>
             
                </div> 
              </div>
               
  </div>